
/* COLORS */

.dark-gray{
    background-color: #1c2b30;
}

.mid-gray {
    background-color: rgb(49,65,73);
}

/* SPECIFIC TYPES */
html {
    font-family: Roboto, serif;
}

body {
    margin: 0;
    padding-top: 50px;
}

nav {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav > ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    font-size: 1.6em;
    padding: 15px;
    color: white;
}

nav > ul > li > a{
    text-decoration: none;
    color: white;
}

#content {
    width: 70%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


#home-title {
    /* Home screen title */
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 3em;
}

#home-title > h1 {
    font-weight: 200;
}

#home-title > p {
    font-weight: 400;
    font-size: 0.7em;
}

#home-forms {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 80px;
}

#usr_score {
    margin-right: 20px;
    font-size: 0.8em;
    font-weight: 300;
}

#usr_menu {
    font-weight: 300;
    cursor: pointer;
    margin-right: 25px;
}

.usr_title{
    text-align: center;
    color: white;
    font-size: 30pt;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

#forgot-link {
    font-size: 0.8em;
    color: #1565C0;
}

/* GENERIC TYPES */

.float-right{
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > div > a {
    text-decoration: none;
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content div {
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    color: black;
}

.panel-half {
    width: 50%;
}

.white {
    color: white;
}

.box {
    padding: 10px 10px 10px 10px;
    min-height: 100px;
    background-color: white;
    margin-top: 20px;
}

.box-radius {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.box-shadow {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.box > h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.row-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-right {
    margin-left: auto;
}

.username {
    font-size: 1.3em;
    margin-right: 20px;
    text-decoration: none;
    color: #FF9800;
}

.dist {
    font-size: 0.9em;
    color: gray;
    margin-right: 20px;
}

.dates {
    text-decoration: none;
    font-size: 0.9em;
    color: gray;
    margin-right: 20px;
}

.dates:hover {
    text-decoration: underline;
}

.post-img {
    width: 100%;
}

.litCounter {
    font-size: 1.3em;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.litCounter > span {
    margin-right: 10px;
}

.lited {
    color: #FF5722;
}

.unlited {
    color: #757575;
}

.post-content {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}



