extends layout_user
include post

block content
    div(id='say-something' class='box box-shadow box-radius')
        h4 Say something!
        div Your current reach is #{score}km <br> You are in: #{lat}, #{lon}
        form(method='post' action='/newPost' encType="multipart/form-data")
            div(class='field')
                div(class='control')
                    input(class='input' type='text' name='content' id='post_content' required onkeyup='countChars(this)')
            div(style='text-align: right;' id='counter') 0/256
            div Add an image
            input(type='file' name='image' id='post_img')

            div(class='field')
                input(class='submit hvr-fade box-radius cursor-pointer' type='submit' value='Post')
            div(style='clear: both;')

    each post in posts
        +post(post)