
extends layout

block options
    if(score && user)
        span(id='usr_score')= score
        div(class='dropdown')
            span(id='usr_menu')= user
            div(class='dropdown-content box-shadow box-radius')
                div
                    a(href='/location') Update location
                div(onclick='logOut()') Log out
